ENVIRONMENT=development
# Networking
API_HOST=localhost
# Ports
API_PORT=1234
FRONTEND_PORT=3245
# Security (for local, when are these used/do they need to match any ports above?)
ALLOWED_ORIGINS=http://localhost:3245,http://127.0.0.1:3245